* {
    background-color: #03000a;
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
}

.pages {
    width: 100vw;
    height: 100vh;
    color:white;
    position: relative;
}

.item {
    display: flex;
    justify-content: center;
    width: 100vw;

    position: absolute;
    text-align: center;

    top: 50%;

    transform: translate(0, -50%);

    color:white;
}

.lol {
    color: white;
    text-decoration: underline;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    

    box-shadow: 0 0 30px rgb(89, 0, 255);

    border-radius: 10px;
}

.lol1 {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;

    position: absolute;

    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);

    padding: 8px;

    color: #fff;
}

.contact {
    
    color: white;
    text-underline-offset: 3px;
}